<%= form_with(model: query, local: true) do |form| %>
  <% if query.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(query.errors.count, "error") %> prohibited this query from being saved:</h2>

      <ul>
        <% query.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field" id="region">
    <%= form.label :region_name %>
    
    <%= form.select :region_name, Query.all.collect {|query| [query.comune_name, query.comune_name] }%>
  </div>

  <div class="field" id="province">
    <%= form.label :privince_name %>
    <%= form.select :privince_name, Query.all.collect {|query| [query.comune_name, query.comune_name]}%>
  </div>

  <div class="field" id="comune">
    <%= form.label :comune_name %>
    <%= form.select :comune_name, Query.all.collect {|query| [query.comune_name, query.comune_name]}%>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<%= javascript_pack_tag 'regions'%>
<%= javascript_pack_tag 'provinces'%>
<%= javascript_pack_tag 'comunes'%>
